@charset "UTF-8";

/* 回答はここに書いてね */
.title {
  margin: 0 auto;
}
.box {
  margin: 0 auto;
  height: 500px;
  width: 500px;
  background-color: #ECF1F2;
  position: relative;
  font-size: 30px;
}
.box1 {
  line-height: 100px;
  width: 100px;
  text-align: center;
  background-color: #ffefd3;
  position: absolute;
  top: 40px;
  left: 200px;
  z-index: 1;
}
.box2 {
  line-height: 100px;
  width: 100px;
  text-align: center;
  background-color: #7084de;
  position: absolute;
  top: 120px;
  left: 280px;
  z-index: 2;
}
.box3 {
  line-height: 100px;
  width: 100px;
  text-align: center;
  background-color: #d0ecea;
  position: absolute;
  top: 200px;
  left: 360px;
  z-index: 3;
}
.box4 {
  line-height: 100px;
  width: 100px;
  text-align: center;
  background-color: #8d7a5e;
  position: absolute;
  top: 280px;
  left: 280px;
  z-index: 4;
}
.box5 {
  line-height: 100px;
  width: 100px;
  text-align: center;
  background-color: #9fd6d2;
  position: absolute;
  top: 360px;
  left: 200px;
  z-index: 5;
}
.box6 {
  line-height: 100px;
  width: 100px;
  text-align: center;
  background-color: #fffee4;
  position: absolute;
  top: 280px;
  left: 120px;
  z-index: 6;
}
.box7 {
  line-height: 100px;
  width: 100px;
  text-align: center;
  background-color: #deae70;
  position: absolute;
  top: 200px;
  left: 40px;
  z-index: 7;
}
.box8 {
  line-height: 100px;
  width: 100px;
  text-align: center;
  background-color: #de70cf;
  position: absolute;
  top: 120px;
  left: 120px;
  z-index: 8;
}
.box8::after {
  content: '';
  height: 20px;
  width: 20px;
  background-color: #ffefd3;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9;
}
.box9 {
  line-height: 100px;
  width: 100px;
  text-align: center;
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
}
/* 回答はここに書いてね */
